# Build and Release Folders

ProjectMyth/bat/
ProjectMyth/bin/
ProjectMyth/cert/
ProjectMyth/dist/
ProjectMyth/obj/
ProjectMyth/AIR_Android_readme.txt
ProjectMyth/AIR_iOS_readme.txt
ProjectMyth/PackageApp.bat
ProjectMyth/Run.bat
ProjectMyth/ProjectMyth.as3proj

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
